*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://picsum.photos/1600/900);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: linear-gradient(90deg, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913); /* made at https://learnui.design/tools/gradient-generator.html */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.buttons {
    margin: 3rem 2rem;
    display: flex;
    gap: 3rem;
}

button {
    padding: 1rem;
    font-size: 5rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    transition: opacity 0.5s ease-in-out;
    transition: border-radius 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
    border-radius: 50%;
}

#rock {
    background-color: #535151;
}

#paper {
    background-color: #7a56ff;
}

#scissors {
    background-color: #d7ee54;
}

p {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.human-result span {
    color: rgb(157, 255, 0);
}

.machine-result span {
    color: rgb(241, 0, 0);
}


@media screen and (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }

        button {
            padding: 0.5rem;
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

        
    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;

    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        text-align: center;

    }

    
    button:hover {
        opacity: 0.8;
        border-radius: 50%;
    }
}